<button class="col-lg-4 col-md-4 col-sm-8 col-xs-8 btn-toggle-form-add-shop btn btn-primary" ng-click="created=!created">Добавить товар</button>
<div class="form-wrapper">
    <form ng-if="created" class="jumbotron form-goods-page form-horizontal form-block">
        <div class="form-group row">
            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 label-form" for="shopname">Название товара</label>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input id="shopname" class="form-control add-shop-input" ng-required="true" ng-model="goodsName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 label-form" for="branch">Описание</label>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input id="branch" class="form-control add-shop-input" ng-required="true" ng-model="goodsInfo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 label-form" for="shortdescription">Цена</label>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input type="number" id="shortdescription" class="form-control add-shop-input" ng-required="true" ng-model="goodsPrice" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 label-form" for="goodsRate">Рейтинг</label>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input type="number" id="goodsRate" class="form-control add-shop-input" ng-required="true" ng-model="goodsRate" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-add-shop btn btn-success" ng-click="addGood(goodsName, goodsPrice, goodsInfo, goodsClass, goodsRate)">Добавить товар</button>
            </div>
        </div>
    </form>
</div>